
<mat-toolbar (click)="temp()" style="    background: #f7d292;color: #28210d;" class="mat-elevation-z4">
  <a href="/Home" mat-button>Home</a>
  
  <a href="/Profile" mat-button>{{ username }}</a>
  <div class="log" (click)="navigateHome()">
  <span ><mat-icon>eco</mat-icon>M A K A N A K</span>
</div>
<div class="spacer"></div>

<a href="/Login" *ngIf="!isLoggedIn" mat-button>Login</a>
<a href="/Register" *ngIf="!isLoggedIn" mat-raised-button style="background-color: rgb(244, 65, 125); color:rgb(255, 255, 255);" >Sign Up</a>
<a mat-raised-button  *ngIf="isLoggedIn" (click)="logout()" style="background-color: rgb(244, 65, 125); color:rgb(255, 255, 255);" >Logout</a>
</mat-toolbar>