.frame{
   
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}

.card{
    height: 80%;
    width: 30%;

    
    box-shadow: rgba(0, 0, 0, 0.742) 0px 35px 50px -12px;
 
}
form{
   margin: auto;
   
   
}

li{
    list-style: none;
}