

<div class="article-contener"  >
    <ul class="groups" *ngFor="let item of posts"  >
        <li>
            <div class="card"  >
                <div class="image-session">
                    <span class="image" style="background-image: url({{item.property.pictures}});"></span>
                </div>
                <div class="meta-sission" >
                    <div class="head">
                        <a href="#" class="catogry">{{item.property.city}}</a>
                        <span class="flexone"></span>
                      
                    </div>
                    <div class="body">
                        <h2 class="title">{{item.property.price}} LE</h2>
                        <p class="desc">{{item.property.info}}</p>
                    </div>
                    <div class="footer">
                        <div class="views">
                            <p class="desc">{{item.property.elevator}}</p>

                        </div>
                        <a href="#" class="button">More Info</a>
                    </div>
                </div>
            </div>
        </li>
      
    </ul>
</div>
