

<form [formGroup]="newPostForm" class="container" >
  <br><br>
  <h1 class="header">Enter Your Property Details</h1>

  <br>
  <br>
  <div>
    <label class="preFirst1" for="type">Type</label>
    <label class="preFirst2" for="levels">Level/s</label>
    <label class="preFirst3" for="rooms">Rooms</label>
    <label class="preFirst4" for="bath">Bathrooms</label>
  </div>

  <div class="firstLine">
    
    <div>
      <select  class="firstLine1" formControlName="type" id="type"   (change)="onChooseType()"   
         [ngClass]="{ 'is-invalid': submitted && f['type'].errors }">
        <option  value="villa">Villa</option>
        <option  value="apartment">Apartment</option>
       </select>
       <br>
      <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
        <div style="margin-left:50px ;"  *ngIf="f['type'].errors['required']" >required</div>
      </div>
    </div>
    
    <div>
      <input class="firstLine2" type="number" id ="levels" placeholder="Enter the Level" formControlName="level" min="0"  
      [ngClass]="{ 'is-invalid': submitted && f['level'].errors }">
      <div *ngIf="submitted && f['level'].errors" class="invalid-feedback">
        <div style="margin-left:35px ;" *ngIf="f['level'].errors['required']">required</div>
      </div>
    </div>
  
  

    <div>
      <input class="firstLine3" type="number" id ="rooms" placeholder="Add Room numbers" formControlName="roomsNum" min="0"
      [ngClass]="{ 'is-invalid': submitted && f['roomsNum'].errors }">
      <div *ngIf="submitted && f['roomsNum'].errors" class="invalid-feedback">
        <div style="margin-left:65px ;" *ngIf="f['roomsNum'].errors['required']">required</div>
      </div>
    </div>
   
    
    

    <div>
      <input  class="firstLine4" type="number" id ="bath" placeholder="Add WC numbers" formControlName="WCNum" min="0"
        [ngClass]="{ 'is-invalid': submitted && f['WCNum'].errors }">
      <div *ngIf="submitted && f['WCNum'].errors" class="invalid-feedback">
        <div style="margin-left:70px ;" *ngIf="f['WCNum'].errors['required']">required</div>
      </div>
    </div>
  </div>

  <br>
  
  <div>
    <label class="preSecond1" for="rentOBuy">Buy/Rent</label>
    <label class="preSecond2" for="price">Price</label>
    <label class="preSecond3" for="info">Info</label><br>
  </div>

   
  <div class="secondLine">

    
        <div>
          <select class="secondLine1" formControlName="RentOrBuy" id="rentOBuy"    
              [ngClass]="{ 'is-invalid': submitted && f['RentOrBuy'].errors }">
                <option value="rent">Rent</option>
                <option value="buy">Buy</option>
              </select>
              <br>
              <div *ngIf="submitted && f['RentOrBuy'].errors" class="invalid-feedback">
                <div  style="margin-left:50px ;" *ngIf="f['RentOrBuy'].errors['required']">required</div>
              </div>
        </div>
      
    
        <div>
            <input class="secondLine2" type="number" id ="price" placeholder="Enter the Price" formControlName="price" min="0"
            [ngClass]="{ 'is-invalid': submitted && f['price'].errors }">
            <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                <div style="margin-left:80px ;" *ngIf="f['price'].errors['required']">required</div>
              </div>
        </div>
  
      <div class="secpndPart">
        <input class="secondLine3"  type="text" id ="info" placeholder="Add Info" formControlName="info" ><br>
      </div>

  </div>

  <br>
  <br>

  <div>
    <label class="preThird1" for="city">City</label>
    <label class="preThird2" for="area">Area</label>
    <label  class="preThird3" for="address">address</label><br>
  </div>


  <div class="ThirdLine">

    <div>

          <select class="ThirdLine1" formControlName="city" id="city"    [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
              <option value="cairo">Cairo</option>
              <option value="alex">Alexandria</option>
              <option value="tanta">Tanta</option>
              <option value="asuit">Asuit</option>
              <option value="sohag">Sohag</option>
              <option value="luxor">Luxor</option>
              <option value="aswan">Aswan</option>
          </select>
          
          <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
              <div style="margin-left:50px ;" *ngIf="f['city'].errors['required']">required</div>
          </div>

    </div>



    <div>
      <input  class="ThirdLine2"type="number" id ="area" placeholder="Enter the Area" formControlName="area" min="0"
      [ngClass]="{ 'is-invalid': submitted && f['area'].errors }">
      <div *ngIf="submitted && f['area'].errors" class="invalid-feedback">
          <div style="margin-left:40px ;" *ngIf="f['area'].errors['required']">required</div>
        </div>
    </div>

  



    <div>
      <input class="ThirdLine3" type="text" id ="address" placeholder="Add detailed address" formControlName="address" 
        [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
       <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
        <div style="margin-left:65px ;" *ngIf="f['address'].errors['required']">required</div>
        </div>
    </div>
   


    
    
  </div>

    <br>
    <br>
     
   
    
   
    
    

        <div  *ngIf="appartment">
            <input class="choose1" type="radio" id="elev" formControlName="elevator" (click)="handleChangeElevator($event)">
            <label for="elev">Has Elevator</label>
        
            <input class="choose2" type="radio" id="student" formControlName="studentHousing"  (click)="handleChangeStudent($event)">
            <label   for="student">Student Housing</label><br>
         </div>
           
        <div *ngIf="villa">
            <input class="choose1"type="radio" id="pool" formControlName="pool"    (click)="handleChangePool($event)">
            <label for="pool">Has Pool</label>
        
            <input class="choose2" type="radio" id="garden" formControlName="garden"    (click)="handleChangeGarden($event)">
            <label for="garden">Has Garden</label><br>
        </div>
        <br>
        
   

 

   
   
   
    <label class="prelastLine" for="photos">Insert Property Photos</label>
    <button class="addButton" type="button" (click)="fileInput.click()">+</button>
    <input style="display: none" type="file"  id="photos" (change)="SelectFile($event)" #fileInput>

    <br>
    <li *ngFor="let photo of photosLinks, index as i" style="display: inline-block;">
     <!--<a href="url">{{photo}}</a>--> 
     <div *ngIf="photosLinks[i]" >
      <img  src={{photo}}  class="photo" ><br>
      <button  class="removeButton" type="button" *ngIf="photosLinks[i]" (click)="RemoveMe(i)"> - </button>
     </div>
    </li>

    <br><br><br>
    <button class="button button1"  type="submit" (click)="onSubmit()" >Add Post</button>
    <button class="button button2"  type="button" (click)="onReset()"> Reset </button>
</form>



       <!--
             <div *ngIf=" alreadyCheckedStudent">
        <label for="uni">Choose All Universities</label><br>
        <select formControlName="universities" id="uni" multiple>
            <option value="Faculty of Engineering, Alex university">Faculty of Engineering, Alex university</option>
            <option value="Faculty of Medicine, Alex university">Faculty of Medicine, Alex university</option>
            <option value="Faculty of Pharmacy, Alex university">Faculty of Pharmacy, Alex university</option>
            <option value="Faculty of Dentistry, Alex university">Faculty of  Dentistry, Alex university</option>
            
        </select><br>
        </div>
        -->