*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;


}
body{
  background-color: #f3f3f3;font-family: sans-serif;}
.flexone{
  flex: 1;
}


.type{
  overflow: hidden;
  font-size: 20px;
  color: rgb(87, 87, 87);
}


.price{
  overflow: hidden;
  font-size: 25px;
  color: rgb(0, 0, 0);
}


.groups{
  margin: 0 auto;width: 780px;padding: 10px;height: auto;
}
.groups li{
  position: relative;list-style: none;background: #ffffff;border-radius: 5px;
  box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 30px;transition: all 0.3s;
}
.groups li:hover{
  transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;
}
.groups .card{overflow: hidden;display: block;background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.groups .image-session{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session .image{width: 280px;height: 220px;display: block;background-size: cover;
  background-position: center;}
.groups .meta-sission{position: relative;padding: 15px;display: block;height: 220px;}
.groups .meta-sission .head{display: flex;margin-bottom: 10px;}
.groups .meta-sission .head .catogry{list-style: none;text-decoration: none;font-size: 14px;
  font-weight: 600;color: #0075ff;
}
.meta-sission .head .per span,
.meta-sission .head .per input{
  display: block;
  font-size: 10px;
  text-align: right;
}
.meta-sission .head .per input{

  height: 5px;
  border-radius: 5px;
  background: #0001;
  margin-bottom: 4px;
  overflow: hidden;
}
.meta-sission .head .per input::-webkit-slider-thumb{

  width: 0;
  box-shadow: -100px 0 0 100px #0075ff;
}
.groups .body .title{
  height: 60px;
  overflow: hidden;
  font-size: 24px;
}
.groups .body .desc{
  height: 45px;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 17px;
}
.groups .footer .button{
  position: absolute;
  bottom: 20px;
  right: 25px;
  background: #0075ff;color: #fff;
  line-height: 2.2;
  padding: 0 20px;
  border-radius: 50px
;text-decoration: none;
  box-shadow: 0 1px 6px 0 #0004;
  transition: all 0.3s;
}
.groups .footer .delete{
  position: absolute;
  bottom: 90px;
  right: 25px;

  line-height: 2.2;
  background-color: transparent;

  text-decoration: none;

  transition: all 0.3s;
  height: 30px;
  width: 30px;
}
.groups .footer .settings{
  position: absolute;
  bottom: 160px;
  right: 25px;

  line-height: 2.2;
  background-color: transparent;

  text-decoration: none;

  transition: all 0.3s;
  height: 30px;
  width: 30px;
}
.groups .footer .saved{
  position: absolute;
  bottom: 55px;
  right: 175px;
  font-size: 40px;
  line-height: 2.2;
  background-color: transparent;

  text-decoration: none;

  transition: all 0.3s;

}
.groups .footer .button3{
  position: absolute;
  bottom: 150px;
  right: 158px;


  line-height: 2.2;

  height: 40px;
  width: 40px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 0 1px 6px 0 #0004;
  transition: all 0.3s;

}
.groups .footer .delete:hover{
  box-shadow: 0 3px 8px 0 rgba(250, 241, 241, 0.333);
  background: transparent;
  right: 15px;
}
.groups .footer .settings:hover{
  box-shadow: 0 3px 8px 0 rgba(250, 241, 241, 0.333);
  background: transparent;
  right: 15px;
}
.groups .footer .button:hover{
  box-shadow: 0 3px 8px 0 rgba(95, 9, 9, 0.333);
  background: #063a78;
  right: 15px;
}

.groups .footer .views{
  display: block;
  font-size: 12px;
  margin-top: 40px;
}

@media screen and (max-width:780px){.groups{    width: 96%;}
  .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:560px){.groups .image-session{    float: none;    margin-right: 0;}
  .groups .image-session .image{width: 100%;}
}



.container1{

  top: 14;
  left: 0;
  position:absolute;
  width:100%;
  margin-right: 0;
}

.savedButton{

  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin-top: 1rem;
  margin-left: 9rem;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
}

.savedButton:disabled {
  cursor: default;
}

.savedButton:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.container2{
  width: 95%;
   margin-top: 470px;
}

.option{

  background-color: rgb(247, 210, 146);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self:center;
  width: 90%;
  margin-top: 6rem;
  margin-left: 4rem;
  position: relative;

  left:50%;
  transform: translate(-50%,-50%);
  border: 5px rgb(249, 197, 107) solid;
  border-radius: 20px;

}
.option2{
  background-color: rgb(247, 210, 146);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self:center;
  width: 21%;
  margin-left: 9rem;

  position: relative;


  transform: translateY(-50%);
  border: 5px rgb(249, 197, 107) solid;
  border-radius: 20px;
}
select{
  padding: 10px 10px 10px;
  border-radius: 15px;
  margin: 1rem;
}


html{
  width: 100vw;
}

.price{
  display: block;


}



.checkbox{

  display:block;

}
.search-btn{
  display: block;
  text-align: left;
  margin-right: 2rem;
}
#p1::before{
  content: "Price range";
}

#a1::before{
  content: "Area range";
}
input{
  width: 90px;
}
.search{
  width: 640px;
  padding: .5rem;
  margin-left: 16px ;
  margin-top: 10px;
  border-radius: 5px;
}
.t{
  color: rgb(160, 33, 33);
}

.area{
  margin: 7px auto;
  padding: 2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h4{
  margin: 0;
}
h3{
  margin: 0;
}
h5{
  margin: 0;
}
button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}



.previous {
  background-color:#e9ae2e;
  color: white;
  margin-left: 500px;
}

.next {
  background-color: #e9ae2e;
  color: white;
  margin-right: 500px;
}

.round {
  border-radius: 50%;
}
.paging{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;

}

.disablednext{
    background-color: #848484;
    color: white;
    margin-right: 550px;
}
.disabledprevious{
    background-color: #848484;
    color: white;
    margin-left: 550px;
}
.wrapper{
  position: absolute;
  top: 36.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 950px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}
