<div class="container" *ngIf="!notLogIn">
  <body>
  <div class="container">
    <div class="box">
      <img src={{currentUserInfo.profilePicLink}} alt="user" width="100">
      <ul>
        <li>Name</li>
        {{ currentUserInfo.name }}
        <li>UserName</li>
        {{ currentUserInfo.username }}
      </ul>
    </div>
    <div class="About">
      <ul>
        <h1>about</h1>
      </ul>
      <ul>
        <h3>Office Address</h3>
        {{ currentUserInfo.address }}
      </ul>
      <ul>
        <h3>Email Address</h3>
        {{ currentUserInfo.email }}
      </ul>
      <ul>
        <h3>Phone Number(s)</h3>
        {{ currentUserInfo.phone}}
      </ul>
      <a routerLink="/Edit"><button class="btn btn-success pull-right" >Edit</button></a>
    </div>
  </div>
  </body>
</div>

<div class="container" *ngIf="notLogIn">
  <ul>
    <h3>please login</h3>
  </ul>
</div>


